# ==========================================
# 1. Real-Time Backend Exclusions
# ==========================================
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env
backend/*.env
backend/*.db
backend/*.sqlite3

# ==========================================
# 2. Game Frontend Exclusions
# ==========================================
frontend/.dart_tool/
frontend/.idea/
frontend/.packages
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/build/
frontend/*.iml
frontend/.vscode/
frontend/android/app/build/
frontend/ios/DerivedData/

# ==========================================
# 3. System Exclusions
# ==========================================
.DS_Store
Thumbs.db